  
/*Impressão das CAPAS com bordas*/
  .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td { 
    border: 2px solid #333; 
}

/*Logo Fecomercio e Senac*/
body > div.wrap > div > div > table > tbody > tr:nth-child(1) > td.logo-esquerda {
  border-right-style: hidden;
}

body > div.wrap > div > div > table > tbody > tr:nth-child(1) > td.logo-direita { 
  border-left-style: hidden;
}

@media print {
  *,
  *:before,
  *:after {
    color: #000 !important;
    text-shadow: none !important;
    background: transparent !important;
    -webkit-box-shadow: none !important;
            box-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre,
  blockquote {
    border: 1px solid #999;

    page-break-inside: avoid;
  }
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  img {
    max-width: 100% !important;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
  .navbar {
    display: none;
  }
  .btn > .caret,
  .dropup > .btn > .caret {
    border-top-color: #000 !important;
  }
  .label {
    border: 1px solid #000;
  }
  .table {
    border-collapse: collapse !important;
  }
  .table td,
  .table th {
    background-color: #fff !important;
  }
  .table-bordered th,
  .table-bordered td {
    border: 2px solid #333 !important;
  }
  .table-bordered > tbody > tr:nth-child(1) > td.logo-esquerda {
    border-right-style: hidden !important;
  }
  .table-bordered > tbody > tr:nth-child(1) > td.logo-direita {
   border-left-style: hidden !important;
  }
  .table-bordered > tbody > tr:nth-child(12) > td:nth-child(1) {
    border-right-style: hidden !important;
  }
}